/ProjectServiceA/.vs/
/ProjectServiceA/ProjectServiceA/bin/Debug
/ProjectServiceA/ProjectServiceB/bin/Debug/net8.0
/ProjectServiceA/ProjectServiceB/obj/Debug/net8.0
/ProjectServiceA/ProjectServiceA/obj/Debug/net8.0
/ProjectServiceA/ProjectServiceA/obj
/ProjectServiceA/ProjectServiceB/obj
